/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Style the footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 30px 10px 10px;
    background: yellow;
  }
  
  .footer-section {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    font-size: 0.9em;
  }
  
  .quick-links ul {
    list-style: none;
    display: flex;
    margin: 5px 10px;
  }
  
  .quick-links li {
    margin-bottom: 5px;
    padding: 10px 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 10px;
    background-color: #222;
  }
  
  .footer-bottom p {
    font-size: 0.8em;
  }
  
  /* Add some responsive styles */
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  }
  