<header></header>
<div *ngIf="products.length > 0; else noProducts">
    <div *ngFor="let data of products">
        <div class="card mb-3" style="max-width: 540px;" (click)="navigateToProductDetails(data.proId)">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src={{data.prodImg}} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{data.proName}}</h5>
                        <p class="card-text">{{data.proDes}}</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noProducts>
    <p>Searched product is not available.</p>
</ng-template>